<ul>
  <li *ngFor="let v of videoList | async" (click)="videoSelected(v)" [ngClass]="{ selected: v === (selectedVideo | async) }">
    <app-video-thumbnail [video]="v"></app-video-thumbnail>
  </li>
</ul>
