<form [formGroup]="form" (ngSubmit)="saveForm()">
  <div>
    <label>
      First name
      <input type="text" formControlName="firstName">
    </label>
    <div *ngIf="
        form.get('firstName')?.hasError('required') &&
        form.get('firstName')?.touched
      ">
      Please enter first name
    </div>
  </div>
  <div>
    <label>
      Last name
      <input type="text" formControlName="lastName">
    </label>
    <div *ngIf="
        form.get('lastName')?.hasError('required') &&
        form.get('lastName')?.touched
      ">
      Please enter last name
    </div>
  </div>
  <div>
    <label>
      Active
      <input type="radio" value="Active" formControlName="status" name="status">
    </label>
    <label>
      Inactive
      <input type="radio" value="Inactive" formControlName="status" name="status">
    </label>
  </div>
  <button>Submit</button>
</form>
